apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: infra-net
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus-kubelet
rules:
  # Allow listing/watching all nodes for service discovery
  - apiGroups: [""]
    resources:
      - nodes
    verbs:
      - list
      - watch

  # Allow proxying to kubelet metrics endpoints
  - apiGroups: [""]
    resources:
      - nodes/proxy
      - nodes/metrics
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-kubelet
roleRef:
  kind: ClusterRole
  name: prometheus-kubelet
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: prometheus
    namespace: infra-net
